.App {
  text-align: center;
}

h1{
  text-align: center;
}
.result{
  height: 60px;
  background-color: aquamarine;
  width: 100%;
}

.result p{
  font-size: 40px;
}


.calculator-body{
  width: 400px;
  margin: auto;
  border: 3px solid black;
}

.buttons{
  display: block;
  background-color: white;
}

.buttons button{
  width: 25%;
  height: 40px;
  font-size: 30px;
  border: 1px solid red;
  background-color: black;
  color: aqua;
}

