.App {
  background-color: rgba(128, 128, 128, 0.514);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
}
.calc-wrapper{
  width: 400px;
  height: 600px;
}
.row{
  display: flex;
  width: 100%;
}
